<%= form_for(@favorite) do |f| %>
  <% if @favorite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@favorite.errors.count, "error") %> prohibited this favorite from being saved:</h2>

      <ul>
      <% @favorite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :place1 %><br>
    <%= f.collection_select :place1, Place.where(id: current_user.checks.where.not(user_id: nil).pluck(:place_id)), :name, :name, {:prompt => "Select Place"}, {class: "form-control", :required => true} %>
  </div>
  <div class="form-group">
    <%= f.label :place2 %><br>
    <%= f.collection_select :place2, Place.where(id: current_user.checks.where.not(user_id: nil).pluck(:place_id)), :name, :name, {:prompt => "Select Place"}, {class: "form-control", :required => true} %>  </div>
  <div class="form-group">
    <%= f.label :place3 %><br>
    <%= f.collection_select :place3, Place.where(id: current_user.checks.where.not(user_id: nil).pluck(:place_id)), :name, :name, {:prompt => "Select Place"}, {class: "form-control", :required => true} %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
