<h1><%= @user.name %></h1>

<table>
	<tbody>
		<% @check.each do |check| %>
			<% place = Place.find(check.place_id) %>
			<tr>
				<td><%= link_to place.name, place %></td>
			  <td><%= check.comment %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<br />
<%= link_to "Write a new Check", new_check_path() %>
<br /><br />
<% if current_user.favorites.empty? %>
	<%= link_to "Choose 3 new Favorites", new_favorite_path() %>
<% else %>
	<%= link_to 'Edit', edit_favorite_path(current_user.favorites.last) %>
<% end %>