<%= form_for [@place, @check] do |f| %>
  <% if @check.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@check.errors.count, "error") %> prohibited this check from being saved:</h2>

      <ul>
      <% @check.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :place_id %><br>
    <!--<% if @place.blank? %>-->
      <%= f.collection_select :place_id, Place.where.not(id: current_user.checks.where.not(user_id: nil).pluck(:place_id)), :id, :name, {:prompt => "Select Place"}, {class: "form-control", :required => true} %>
    <!--<% else %>
      Boop
    <% end %>-->
  </div>
  <div class="form-group">
    <%= f.label :comment %><br>
    <%= f.text_area :comment, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :guide %><br>
    <%= f.check_box :guide, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
