<% if user_signed_in? %>
  <%= link_to 'New Place', new_place_path %>
<% end %>
<div class="row">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li><%= link_to "All", "/places" %></li>
      <li><%= link_to "Africa", "?by_region=Africa" %></li>
      <li><%= link_to "Antarctica", "?by_region=Antarctica" %></li>
      <li><%= link_to "Asia", "?by_region=Asia" %></li>
      <li><%= link_to "Caribbean", "?by_region=Caribbean" %></li>
      <li><%= link_to "Central America", "?by_region=Central America" %></li>
      <li><%= link_to "Europe", "?by_region=Europe" %></li>
      <li><%= link_to "Middle East", "?by_region=Middle East" %></li>
      <li><%= link_to "North America", "?by_region=North America" %></li>
      <li><%= link_to "Pacific", "?by_region=Pacific" %></li>
      <li><%= link_to "South America", "?by_region=South America" %></li>
    </ul>
  </div>
  <div class="col-md-10" style="background-color: #fff;">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th class="place-table">NAME</th>
          <th class="place-table">REGION</th>
          <th class="place-table">VISITS</th>
          <th class="place-table">FAVORITES</th>
          <th class="place-table">WISHES</th>
        </tr>
      </thead>
      <tbody>
        <% @places.each do |place| %>
          <tr>
            <td>
              <%= link_to place.name, place %>
            </td>
            <td>
              <%= place.region %>
            </td>
            <td>
              Visits
            </td>
            <td>
              Favorites
            </td>
            <td>
              Wishes
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>