<% if @place.user == current_user %>
	<div style="text-align: right;">
		<%= link_to 'Edit', edit_place_path(@place) %>
	</div>
<% end %>
<div class="jumbotron" style="background-color: #<%= @place.bgcolor %>; height: 300px;">
	<div class="container cabin" style="color: #fff;">
		<!--<%= image_tag(@place.image_name, :height => "50", :title => @place.name) %>-->
		<div style="letter-spacing: 4px;">
			<h2 style="text-decoration: underline;"><%= @place.name.upcase %></h2>
		</div>
		<h2><%= @place.tagline %></h2>
	</div>
</div>

<% if @checks.blank? %>
	No one has checked in here yet. <%= link_to "Want to be the first?", new_check_path() %>
<% else %>
	<% @checks.each do |check| %>
		<% user = User.find(check.user_id) %>
		<p><%= check.comment %> <%= check.guide %> by <%= link_to user.name, user %> 
			<% if check.user == current_user %>
				<%= link_to "Edit", edit_check_path(check) %>
			<% end %>
		</p>
	<% end %>
	<% if @checks.find_by_user_id(current_user.id).blank? %>
		<%= link_to "Write a new Check", new_check_path() %>
	<% end %>
<% end %>







